<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lbins.myapp"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <!--mob-->

    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!--高德地图sdk-->
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 需要运行时注册的权限 -->
    <!--用于进行网络定位-->
    <!--用于访问GPS定位-->

    <!--写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据-->
    <!--读取缓存数据-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 更改设置 -->
    <uses-permission android:name="android.permission.SET_DEBUG_APP"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <!--读取短信-->
    <uses-permission android:name="android.permission.READ_SMS"/>

    <!--百度推送-->
    <!-- Push service 运行需要的权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:name=".MeirenmeibaAppApplication"
                 android:icon="@drawable/ic_launcher">
        <activity android:name=".ui.WelcomeActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="adjustResize"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.RegOneActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.RegSuccessActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.FindPwrSelectActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.FindPwrMobileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.FindPwrDoorActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MobileUpdateActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.UpdateLoginPwrActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.UpdatePayPwrActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SetActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SetPwrSelectActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MinePackageActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SetProfileActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.BankCardDoneActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.BankCardCztxActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.BankCardsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineFensiActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DianpuDetailActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.LoginActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.AboutActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.EditNameActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressAddActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressUpdateActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressAddAreaActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressAddCityActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineAddressAddProvinceActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.LocationCityActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.ApplyDianpuActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.ApplyActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SearchTuijianActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MoreDianpuPaopaoGoodsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DetailPaopaoGoodsActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SearchGoodsByTypeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineCartActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.OrderMakeActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.SelectAddressActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineOrdersActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.DetailOrderActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".ui.MineFavoursActivity" android:screenOrientation="portrait" android:windowSoftInputMode="adjustResize"></activity>


        <!--// *****************************高德地图sdk*******************************************-->
        <meta-data
                android:name="com.amap.api.v2.apikey"
                android:value="ada683b8245c98bf274d7a6504387583" />

        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>

        <!--支付宝-->
        <activity
                android:name="com.alipay.sdk.app.H5PayActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>
        <activity
                android:name="com.alipay.sdk.auth.AuthActivity"
                android:configChanges="orientation|keyboardHidden|navigation"
                android:exported="false"
                android:screenOrientation="behind">
        </activity>




        <!-- Required -->
        <permission
                android:name="com.lbins.myapp.permission.JPUSH_MESSAGE"
                android:protectionLevel="signature" />

        <!-- Required -->
        <uses-permission android:name="com.lbins.myapp.permission.JPUSH_MESSAGE" />
        <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />

        <!-- Optional. Required for location feature -->
        <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
                android:name="cn.jpush.android.ui.PopWinActivity"
                android:theme="@style/MyDialogStyle"
                android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
                android:name="cn.jpush.android.ui.PushActivity"
                android:configChanges="orientation|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.lbins.myapp" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
                android:name="cn.jpush.android.service.DownloadService"
                android:enabled="true"
                android:exported="false" >
        </service>


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
                android:name="cn.jpush.android.service.PushService"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
                android:name="cn.jpush.android.service.DaemonService"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.lbins.myapp" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
                android:name="cn.jpush.android.service.PushReceiver"
                android:enabled="true"
                android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.lbins.myapp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>

        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
                android:name="com.lbins.myapp.receiver.JiPushReceiver"
                android:exported="false"
                android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" /> <!--Optional 用户接受Rich Push Javascript 回调函数的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.lbins.myapp" />
            </intent-filter>
        </receiver>


        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="5203b1df162fe253fe1e92a2" /> <!--  </>值来自开发者平台取得的AppKey-->

    </application>
</manifest>
